<h1>Inicio de sesion</h1>
<hr />
<form method="post">
    <p>Ingrese su usuario y contraseña para ingresar al sistema</p>
    <label>Usuario: </label>
    <input type="text" name="user" value="" placeholder="Ingrese el usuario..." />

    <br><br>
    
    <label>Contraseña: </label>
    <input type="password" name="pass" placeholder="Ingrese la contraseña..." />

    <br><br>

    <input type="submit" value="Ingresar" />
</form>

<p>@ViewBag.msg</p>