<h1>Inicio de sesion</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="formLogin">
            <p>Ingrese su usuario y contraseña para ingresar al sistema</p>

            <label class="control-label">Usuario: </label>
            <input type="text" name="user" id="txtUserLogin" class="form-control" placeholder="Ingrese el usuario..." />
            <span id="errorUserLogin" class="text-danger"></span>

            <br><br>

            <label class="control-label">Contraseña: </label>
            <input type="password" name="pass" id="txtPassLogin" class="form-control" placeholder="Ingrese la contraseña..." />
            <span id="errorPassLogin" class="text-danger"></span>

            <br><br>

            <input type="submit" value="Ingresar" class="btn btn-primary" />
        </form>
        <br>
        <p>@ViewBag.msg</p>
    </div>
</div>

<script>
    document.querySelector("#formLogin").addEventListener('submit', validarDatos);

    function validarDatos(ev) {

        ev.preventDefault();

        let user = document.querySelector("#txtUserLogin").value;
        let pass = document.querySelector("#txtPassLogin").value;

        let userValido = false;
        let passValido = false;

        if (user) {
            userValido = true;
            document.querySelector("#errorUserLogin").innerHTML = "";
        } else {
            if (!user) {
                document.querySelector("#errorUserLogin").innerHTML = "El usuario no puede ser vacío";
            } else {
                document.querySelector("#errorUserLogin").innerHTML = "El usuario es incorrecto";
            }
        }

        if (!pass) { document.querySelector("#errorPassLogin").innerHTML = "El password no puede ser vacío" } else {
            if (TieneNum(pass) && TieneMayus(pass) && TieneMinus(pass) && pass.length >= 6) {
                passValido = true;
                document.querySelector("#errorPassLogin").innerHTML = "";
            } else {
                if (pass.length < 6) { document.querySelector("#errorPassLogin").innerHTML = "La contraseña es incorrecta" }
            }
        }


        if (userValido && passValido) {
            this.submit();
        }

    }

    function TieneNum(txt) {
        let tieneNum = false;
        let i = 0;

        while (!tieneNum && i < txt.length) {
            let codAsciiLetra = txt.charCodeAt(i);
            if (codAsciiLetra >= 48 && codAsciiLetra <= 57) {
                tieneNum = true;
            }
            i++;
        }
        return tieneNum;
    }

    function TieneMayus(txt) {
        let tieneMayus = false;
        let i = 0;

        while (!tieneMayus && i < txt.length) {
            let codAsciiLetra = txt.charCodeAt(i);
            if (codAsciiLetra >= 65 && codAsciiLetra <= 90) {
                tieneMayus = true;
            }
            i++;
        }
        return tieneMayus;
    }

    function TieneMinus(txt) {
        let tieneMinus = false;
        let i = 0;

        while (!tieneMinus && i < txt.length) {
            let codAsciiLetra = txt.charCodeAt(i);
            if (codAsciiLetra >= 97 && codAsciiLetra <= 122) {
                tieneMinus = true;
            }
            i++;
        }
        return tieneMinus;
    }

    function posicionArroba(txt) {
        let tieneArroba = false;
        let posArroba = -1

        let i = 0;

        while (!tieneArroba && i < txt.length) {
            let codAsciiLetra = txt.charCodeAt(i);
            if (codAsciiLetra == 64) {
                tieneArroba = true;
                posArroba = i;
            }
            i++;
        }
        return posArroba;
    }


</script>