<h1>Inicio de sesion</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <p>Ingrese su usuario y contraseña para ingresar al sistema</p>

            <label class="control-label">Usuario: </label>
            <input type="text" name="user" class="form-control" value="epresley" placeholder="Ingrese el usuario..." />

            <br><br>

            <label class="control-label">Contraseña: </label>
            <input type="password" name="pass" value="Elvis3" class="form-control" placeholder="Ingrese la contraseña..." />

            <br><br>

            <input type="submit" value="Ingresar" class="btn btn-primary" />
        </form>
        <br>
        <p>@ViewBag.msg</p>
    </div>
</div>